/code/platoon/@platoon/*.asv
*.asv
*.png
checkpoints
*.mp4
*.wlmp
*.gz
*.blg
*.aux
*.mat
*.bbl
*.log
*.mat
*.zip
code/platoon/simulations/simulateFormPlatoon_figs/
docs/AIAA 2016 highway platooning/main.pdf
